// @import "~/dist/app.css";

@import "_variables";
@import "_mixins";
@import "_map";
@import "leaflet";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #e5e0d9;
  position: absolute;
}

a {
  text-decoration: none;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}
